click==7.1.2
corpy==0.2.3
cycler==0.10.0
kiwisolver==1.2.0
lazy==1.4
lxml==4.6.3
matplotlib==3.2.1
numpy==1.18.5
Pillow==8.3.2
pkg-resources==0.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
regex==2019.12.20
six==1.15.0
ufal.morphodita==1.9.2.3
ufal.udpipe==1.2.0.3
wget==3.2
wordcloud==1.7.0
